{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block conteudo %}

<div class="container">
  <div class="centraliza_imagem" style="margin-bottom: 35px; margin-top: 120px;">
    <img src="{% static 'img/novoproduto.png' %}" alt="Imagem com bordas de tijolo e com o nome 'vendas' centralizado"
      style="margin-bottom: -15px; width: 1110px;">
  </div>
  <p style="text-align: justify; margin-bottom: 35px;">Ao cadastrar a mercadoria no estoque da empresa, além de informar
    ao usuário quais
    materiais estão disponíveis,
    você o deixa informado sobre características espécífcas do produto, como descrição, produto, quantidade, bem
    como imagem. Tornando, assim, a pesquisa e a venda mais práticas.
  </p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <div>
      <button type="submit" class="btn btn-md shadow p-3 mb-5 bg-body rounded"
        style="background-color: #fb1900; color: white; width: 135px; height: 50px;">Cadastrar</button>
    </div>
  </form>
</div>

{% endblock %}