{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block conteudo %}

<body>
  <div class="container" style="padding-top: 120px;">
    <div class="centraliza_imagem" style="margin-bottom: 35px;">
      <img src="{% static 'img/novocliente.png' %}"
        alt="Imagem com bordas de tijolo e com o nome 'clientes' centralizado"
        style="margin-bottom: -20px; width: 1110px;">
    </div>
    <p style="text-align: justify; margin-bottom: 35px;">Ter um novo cliente na nossa família é essencial. Além de
      promover maior controle sob sua atividade na empresa, é
      cada vez mais importante manter os dados dos clientes no banco de dados da empresa, visto que possibilita melhor
      análise de dados.</p>
    <form method="post">
      {% csrf_token %}
      {{ form | crispy }}
      <div>
        <button type="submit" class="btn btn-md shadow p-3 mb-5 bg-body rounded"
          style="background-color: #fb1900; color: white; width: 135px; height: 50px;">Cadastrar</button>
      </div>
    </form>
  </div>
</body>

</html>

{% endblock %}