{% extends 'base.html' %}
{% load static%}
{% block titulo%} Detalhes {{ peça.nome }} {% endblock %}

{% block conteudo %}

<section class="col" style="padding-top: 150px; padding-bottom: 80px;">
    <div class="card margem">
        <div class="row g-0 row d-flex justify-content-center">
            <div class="col-md-4">
                <a href="#"><img src="/media/{{ peca.imagem }}" width="60%" alt="imagem do peça"></a>
            </div>
            <div class="col-md-6">
                <h3 class="card-title titulo justificado">{{ peca.nome }}</h3>
                <p class="card-text" style="font-size: 15px; color: gray;">Descrição do produto:</p>
                <p class="card-text justificado">{{ peca.descricao_produto }}</p>
                <p class="card-text vlr" style="color: red;"> <b>R${{ peca.valor }} </b></p>
                <p class="card-text" style="font-size: 15px; color: gray;">Quantidade do produto:</p>
                <p class="peças" style="color: red;"> <b> {{ peca.quantidade_produto }} </b></p>
                <a class="btn btn-primary" href="{% url 'produtos' %}" style="background-color: #fb1900;"
                    role="button">Voltar</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}