{% extends 'base.html' %}
{% load static %}
{% block titulo%} Produtos {% endblock %}

{% block conteudo %}


<section class="container" style="padding-top: 150px;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Nome </th>
                <th scope="col"> CPF </th>
                <th scope="col"> Nascimento </th>
            </tr>
        </thead>

        {% for cliente in lista_de_clientes %}

        <tbody>
            <tr>
                <th scope="col">{{ cliente.nome }}</th>
                <th scope="col">{{ cliente.CPF }} </th>
                <th scope="col">{{ cliente.data_nascimento }}</th>
                <!-- <p class="peças" style="color: red;"> <b>{{ cliente.email }} </b></p>
                    <p class="peças" style="color: red;"> <b>{{ cliente.endereco }} </b></p>
                    <p class="peças" style="color: red;"> <b>{{ cliente.telefone }} </b></p>
                    <p class="peças" style="color: red;"> <b>{{ cliente.CPF }} </b></p> -->
                <th scope="col"> <a href="{% url 'update_cliente' cliente.id %}" class="btn btn-primary">Editar</a> </th>
                <th><a class="btn btn-primary cor" href="{% url 'remover_cliente' cliente.id %}"
                        style="background-color: red;" role="button">Remover cliente
                    </a></th>
            </tr>
        </tbody>

        {% endfor %}
    </table>
    </div>
    <a class="btn btn-primary cor" href="{% url 'cadastro' %}" style="background-color: red;" role="button">Adicionar cliente
    </a>

</section>

{% endblock %}
