{% extends 'base.html' %}
{% load static %}
{% block titulo%} Produtos {% endblock %}

{% block conteudo %}

<section class="container" style="padding-top: 150px;">
    <div class="row">
    {% for p in peca %}
        <div class="col-sm">
            <div class="local">
                <a href=" url 'detalhes' p.id %}"> </a>
                <div style="display: flex; justify-content: center">
                    <img src="/media/{{ p.imagem }}" width="50%" alt="imagem da peça">
                </div>
                <div class="text-down">
                    <h5 class="nome">{{ p.nome }}</h5>
                    <p class="peças" style="color: red;"> <b>R${{ p.valor }} </b></p>
                    <a class="btn btn-primary cor" href="{% url 'detalhes' p.id %}" style="background-color: red;"
                        role="button">Detalhes
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}    
    </div>
</section>

{% endblock %}
