{% extends 'base.html' %}
{% load static %}
{% block titulo%} Produtos {% endblock %}
 
{% block conteudo %}
 
<body>
    <section class="container" style="padding-top: 120px;">
        <div class="centraliza_imagem" style="margin-bottom: 35px;">
            <img src="{% static 'img/produtos.png' %}"
                alt="Imagem com bordas de tijolo e com o nome 'produtos' centralizado"
                style="margin-bottom: 10px; width: 1110px;">
        </div>
        <div class=" row">
            {% for p in peca %}
            <div class="col-sm">
                <div class="local card shadow" style="width: 300px;">
                    <a href=" url 'detalhes' p.id %}"> </a>
                    <div style="display: flex; justify-content: center">
                        <img src="/media/{{ p.imagem }}" width="50%" alt="imagem da peça" class="card-img-top">
                    </div>
                    <div class="text-down card-body">
                        <h5 class="nome" style="color: black; font-weight: bolder;">{{ p.nome }}</h5>
                        <p class="peças" style="color: #fb1900;"> <b>R${{ p.valor }} </b></p>
                        <p class="peças" style="color: rgb(49, 49, 49); text-align: justify;"> <b>
                            {{ p.quantidade_produto }} unidades disponíveis</b></p>
                        <a class="btn btn-primary cor" href="{% url 'detalhes' p.id %}"
                            style="background-color:#fb1900; color: white; border: none;" role="button">Detalhes
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <br>
    </section>
</body>
 
{% endblock %}
